/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Setting base font size and box-sizing for the entire page */
html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  min-width: 900px;
}

/* Styling for the body */
body {
  font-family: 'Tilt Prism', cursive;
  height: 100vh;
  color: #333;
  background-image: url(assets/bcg.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main layout container */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(236, 81, 135, 0.8);
  box-shadow: 0 3rem 5rem rgba(243, 192, 192, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

/* Styling for player sections */
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Styling for player names */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  white-space: nowrap;
}

/* Styling for player scores */
.score {
  font-size: 8rem;
  font-weight: 300;
  color: #1a0209;
  margin-bottom: auto;
}

/* Styling for active player */
.player--active {
  flex: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}

/* Styling for active player's name and score */
.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

/* Styling for active player's current score display */
.player--active .current {
  opacity: 1;
}

/* Styling for current score display */
.current {
  background-color: #f0e6ea;
  opacity: 0.8;
  border-radius: 9px;
  color: rgb(44, 8, 8);
  width: 85%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling for current score label */
.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: rgb(53, 8, 8);
}

/* Styling for current score value */
.current-score {
  font-size: 3.5rem;
}

/* Styling for absolute positioned buttons */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgb(242, 244, 240);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

/* Styling for the first letter of the button (pseudo-element) */
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

/* Styling for the "New game" button */
.btn--new {
  top: 4rem;
}

/* Styling for the "Roll dice" button */
.btn--roll {
  top: 39.3rem;
}

/* Styling for the "Hold" button */
.btn--hold {
  top: 46.1rem;
}

/* Styling for the button when it's active (clicked) */
.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

/* Removing outline from buttons when focused */
.btn:focus {
  outline: none;
}

/* Styling for the dice image */
.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

/* Styling for the player section of the winner */
.player--winner {
  background-color: #2f2f2f;
}

/* Styling for the winner player's name */
.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

/* Create a hidden class */
.hidden {
  display: none;
}